head {
    width: 75%;
}

body {
    background: #000000;
    color: #FFFFFF;
}

article {
    text-align: center;
}

aside {
    float: right;
    width: 16%;
    display: inline-block;
}

footer {
    position: relative;
    bottom: 10px;
    display: block;
    clear: both;
    text-align: center;
    width: 100%;
}